<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Status</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .done-btn {
            margin-top: 20px;
            display: none; /* Hide the button by default */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="text-center">Queue Status</h1>
        </header>



        <!-- Jobs Queue Table -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Queue Number</th>
                        <th>Name</th>
                        <th>Joined At</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      {{ if . }}
                      <tr>
                        <th>{{ .QueueNumber }}</th>
                        <td>{{ .Name }}</td>
                        <td>{{ .JoinedAt.Format "02 Jan 2006 15:04:05" }}</td>
                        <td><b id="status">{{ .Status }}</b></td>
                        <td>
                            <a href="/done/{{ .ID }}" class="btn btn-primary done-btn"id="doneBtn">Done</a>
                        </td>
                      </tr>
                      {{ end }}
                      <tr>
                          <td colspan="5" class="text-center">There are <b id="queue_size">Fetching...</b> people ahead of you. <span id="last_updated_at">Fetching...</span> </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/" class="btn btn-primary mt-4">Return to Home</a>
            </div>
        </div>
    </div>

    <script>
        var loc = window.location;
        var uri = 'ws:';
        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }   

        const wsHost = `${uri}//${loc.host}/ws/{{ .ID }}`;
        // 'ws://localhost:3300/ws/{{ .ID }}'
        ws = new WebSocket(wsHost);
  
        ws.onopen = function() {
            console.log('Connected')
        }
  
        ws.onmessage = function(evt) {
            var job = JSON.parse(evt.data);

            var out = document.getElementById('queue_size');
            out.innerHTML = job.queue_size;

            var lastUpdatedAt = document.getElementById('last_updated_at');
            lastUpdatedAt.innerHTML = timeAgo(job.last_updated_at);

            var status = document.getElementById('status');
            status.innerHTML = job.status;

            if (job.status == "assigned") {
                fetch(`/ack/{{ .ID }}`,{
                    method: 'GET',
                }) 
                .then(response => response.json())
                .then(data => {
                    let doneBtn = document.getElementById("doneBtn");
                    doneBtn.style.display = 'inline-block'; 
                })
                .catch(error => {
                    console.error('Error acknowledging job:', error);
                });
            }
        }
  
       ws.onerror = function (error) {
            console.error("WebSocket error:", error);
        };

        ws.onclose = function () {
            console.log("WebSocket connection closed");
        }; 
        
        
        function timeAgo(lastUpdatedTimestamp) {
            const now = new Date();
            const lastUpdatedAt = new Date(lastUpdatedTimestamp);
            const secondsAgo = Math.floor((now - lastUpdatedAt) / 1000);

            if (secondsAgo === 0) {
                return `Last updated just now`;
            }else if (secondsAgo < 60) {
                return `Last updated ${secondsAgo} seconds ago`;
            } else if (secondsAgo < 3600) {
                const minutesAgo = Math.floor(secondsAgo / 60);
            return `Last updated ${minutesAgo} minutes ago`;
            } else {
                const hoursAgo = Math.floor(secondsAgo / 3600);
                return `Last updated ${hoursAgo} hours ago`;
            }
        }
    </script>
</body>
</html>